EasyProcess==0.2.8
Pillow==8.1.1
PyVirtualDisplay==0.2.5
cryptography==3.3.2
html-testRunner==1.2
mss==5.0.0
packaging==20.1
psutil==5.6.6
pyparsing==2.2.2
pyperclip==1.7.0
pyscreenshot==0.5.1
python-dotenv==0.14.0
selenium-wire==1.0.10
selenium==3.141.0
snowballstemmer==1.2.1
texttable==1.6.2
webcolors==1.8.1
xvfbwrapper==0.2.9
